.tagContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh 3vw;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.searchHeader {
    width: 20vw;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.searchInput {
    width: 15vw;
    padding: 5px;
    border-radius: 3px 0 0 3px;
    border: 2px solid #437FC7;
    border-right: none;
    outline: none;
    font-size: 16px;
}

.searchButton {
    background-color: #FFFFFF;
    border: 2px solid #437FC7;
    border-left: none;
    padding: 5.2px 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton svg {
    color: #437FC7;
    font-size: 18px;
}

.tagItemContainer {
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 0 10px;
    padding: 2vh 0px;
    overflow-x: scroll;
}


.tagItemContainer::-webkit-scrollbar {
    height: 5px; 
}

.tagItemContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tagItemContainer::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
}

.tagItemContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.tagItem {
    border: 2px solid black;
    margin-right: 3vw;
    border-radius: 10px;
}

.tagItem p {
    margin: 0 auto;
    padding: 0px 4vw;
}

.tagItem-selected {
    border: 2px solid #437FC7;
    margin-right: 3vw;
    border-radius: 10px;
}

.tagItem-selected p {
    color: #437FC7;
    margin: 0 auto;
    padding: 0px 4vw;
}